.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    list-style: none;
    column-gap: 3rem;
    row-gap: 4rem;
}

.movie-unity{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-poster{
    width: 200px;
    border: 1px solid white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    transition: all 0.3s;
}

.title{
    font-size: 150%;
}

.movie-poster:hover{
    transform: scale(1.1);
    border: none;
}